body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }
  
  * {
    box-sizing: border-box;
  }
  .container0{
    float: left;
    width: 50%;
    height: 100%;
    background-color: black;
  }
  .PSimage1{
    position: absolute;
    left: 5%;
    top: 10%;
    height: 50%;
    width: 40%;
  }
  
  
  /* Add padding to containers */
  .container {
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    background-color: white;
    width:50%;
    margin-left: 50%;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 1%;
  }
  h2 {
       color:white;
      font-family: 'open sans condensed';
      font-size: 125%;
      display: block;
      background: #2a2a2a;
      width: 100%;
      
      text-transform: uppercase;
      padding: 2% 2% 2% 2%;
      text-align: center;
      box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.050000000000000044);
      border: 1px solid #1d1d1d;
      font-weight: 200;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color:  #2a2a2a;
    color: white;
    padding: 2% 2%;
    margin: 1%;
    font-size: 100%;
    border: none;
    cursor: pointer;
    opacity: 1;
    width: 100%;
  }
  
  .registerbtn:hover {
    opacity: 1;
    background: #23cad5;
  }
  
  /* Add a blue text color to links */
  a {
    color: #1ba0a9;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    padding-left: 32%;
    padding-bottom: 1%;
    
  }
  