* {
    box-sizing: border-box;
  }
  .body1 {
    font-family: 'open sans', helvetica, arial, sans;
    background:  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .log-form {
    width: 100%;
     min-width: 320px;
    max-width: 475px; 
    background: #fff;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25); */
  }
  @media (max-width: 35%) {
    .log-form {
      width: 100%;
      position: relative;
      margin: 2.5% auto 0 auto;
      left: 0%;
      -webkit-transform: translate(0%, 0%);
      -moz-transform: translate(0%, 0%);
      -o-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
    }
  }
  .log-form form {
    display: block;
    width: 100%;
    padding: 5% 5%;
  }
  .log-form h2 {
    color:white;
    font-family: 'open sans condensed';
    font-size: 125%;
    display: block;
    background: #2a2a2a;
    width: 95%;
    
    text-transform: uppercase;
    padding: 3% 1% 3% 1%;
    text-align: center;
    /* box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.050000000000000044); */
    border: 1px solid #1d1d1d;
    margin: 1%;
    font-weight: 200;
  }
  .log-form input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
  }
  .log-form input:focus {
    outline: none;
  }
  .log-form .btn {
    display: inline;
    background:  #2a2a2a;
    margin-left: 0.5%;
    border: 1px solid #1ba0a9;
    padding: 3% 10%;
    text-align: center;
    font-size: 100%;
    color: white;
    /* box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.19999999999999996); */
  }
  .log-form .btn:hover {
    background: #23cad5;
  }
  .log-form .btn:active {
    background: #1fb5bf;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.09999999999999998);
  }
  .log-form .btn:focus {
    outline: none;
  }
  .log-form .btn1 {
    display: inline;
    background:  #2a2a2a;
    border: 1px solid;
    padding: 1%;
    font-size: 150%;
    color: white;
    margin-left: 40%;
    /* box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.19999999999999996); */
  }
  .log-form .btn1:hover {
    background: #23cad5;
  }
  .log-form .btn1:active {
    background: #1fb5bf;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.09999999999999998);
  }
  .log-form .btn1:focus {
    outline: none;
  }
  .log-form .forgot {
    color:  #2a2a2a;
    /* line-height:%; */
    position: relative;;
    text-decoration: none;
    font-size: 90%;
    margin-left: 33%;
  
    padding: 0%;
    /* float: right; */
  }
  .log-form .forgot:hover {
    color: #1ba0a9;
  }
   .log-form .signup{
   display: inline;
   float: right  !important;
   background:  #2a2a2a;
   border: 1px solid #1ba0a9;
   padding: 3% 10%;
   text-align: center;
   font-size: 100%;
   color: white;
   /* box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.19999999999999996); */
 }
 .log-form .signup:hover {
   background: #23cad5;
 }
 .log-form .signup:active {
   background: #1fb5bf;
   box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.09999999999999998);
 }
 .log-form .signup:focus {
   outline: none;
 }
